@model List<Models.HorasDisponiblesModel>

@{
    ViewBag.Title = "Reservas";
    ViewBag.TitlePag = "Horas Disponibles";

    Layout = "~/Views/Shared/_Planilla.cshtml";

    var cc = 0;
}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Médico</th>
            <th>Especialidad</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            cc++;
            <tr>
                <td>@cc</td>
                <td>@item.FechaTxt</td>
                <td>@item.HoraminutoTxt</td>
                <td>@item.NomApeMedico</td>
                <td>@item.nom_especialidad</td>
                <td>
                    @Html.ActionLink("Seleccionar", "TomarHora", new { idhora = item.idhora, idmed = item.idmedico })
                </td>
            </tr>
        }
    </tbody>
</table>



